body {
  font-family: sans-serif;
}
.navbar-nav .dropdown-menu {
  background-color: #357ae8;
}

.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item:hover {
  background-color: #4586ee;
}

.nav-link,
#collapsible-nav-dropdown {
  color: #eaeaeb;
}
